@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin-top: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    transition: 0.5s linear;
}
header.sticky{
    padding: 5px 100px ;
    background: #027a5f;
}
.Logo img{
     width: 100px;
     
}
.navbar{
    display: flex;
}
.navbar a{
    padding: 8px 16px;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}
.navbar a:hover{
    background-color: rgb(100, 189, 157);
    border-radius: 0.2rem;
    transition: 0.2s all linear;

}
.navbar span a{
    font-weight: bold;
    color: black;
    display: flex;
    text-align: center;
    margin: 0px;
   
}
.header-icons{
  font-size: 26px;
  cursor: pointer;
  z-index: 10000;
  display: flex;
  column-gap: 1.2rem;
}
.header-icons .bx{
    color:white;
}

#menu-icon{
    color: white;
    font-size: 28px;
    z-index: 100005;
    display: none;

}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(images/pngtree-close-up-of-plants-in-tropical-jungle-picture-image_2903460.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    margin: -10px;
    
   
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color:#fff;
}
.contact .content p{
    font-weight: 300;
    color:#fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.container .contactinfo .box{
    position: relative;
    padding: 20px 0px;
    display: flex;
}
.container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 22px;
}
.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputbox input,
.contactForm .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: #666;
}
.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputbox input[type="submit"]{
    padding: 10px  30px ;
    border-radius: 10px 15px;
    background: #027a5f;
    color: rgb(255, 255, 255);
    font-weight: 500;  
}
/*.contactForm .inputbox input:hover{
    background:rgb(100, 189, 157) ;
}*/


@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactinfo{
        margin-bottom: 40px;
    }
    .container .contactinfo,
    .contactForm{
        width: 100%;
    }
}
